{% extends 'blog/base.html' %}

{% block content %}
    {% for post in page_obj %}
        <div class="post">
            <div class="date">
                {{ post.published_date|date:"Y/n/j" }}
            </div>
            <h2 class="post-title"><a class="title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <!--<p>{{ post.text|linebreaksbr }}</p>-->
            <h6 class="comment">Comments: {{ post.approved_comments.count }}</h6>
        </div>
        <hr>
    {% endfor %}

    <!-- pagination -->
    {% include '../includes/pagination.html'%}
{% endblock %}
